.container {
    margin-top: 20px;
    width: 50%;
}
.custom-select {
    margin-top: 20px;
    width: 20%;
}

.tabsbar {
    margin-top: 10px;
}

.tappri {
    margin-top: 10px;

}

.tapyear {
    margin-top: 10px;
}

.inputorder {
    margin-top: 20px;
}

#barcar {
    margin-top: 10px;
}

#orderss {
    margin-top: 10px;
}

.fromloginn {
    width: 20%;
    margin: 0 auto;
    margin-top: 10%;

    
}
.fromlogin {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    
}

.tabser {
    margin: 0 auto;
    width: 90%;
}